*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Poppins";
  }

:root {
    --style-main: #1e5631;
    --style-sec: #4c9a2a;
    --style-tri: #7ad87a;
    --style-quad: #ffbaba;
    accent-color: #7ad87a;

    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrap {
    max-width: 550px;
    margin-inline: auto;
    padding-bottom: 400px;
}

  .intro-text {
    text-align: center;
    padding: 20px 0px;
  }

.intro-text h1, .intro-text p {
    margin:0px;
}

.code-boxes {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.code-box {
    border-radius: 20px;
    box-shadow: var(--shadow);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .5s;
}

.code-snippet-container {
    padding: 15px;
    position: relative;
}

.code-snippet-container::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(255 255 255 / 0%) 50%);
    pointer-events: none;
}

.code-snippet {
    width: 200px;
    text-wrap:wrap;
    aspect-ratio: 1 / 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0px;
    font-size: 12px;
}

.code-title-section {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    display: block;
    width: 100%;
    background: var(--style-main);
    padding: 10px;
    color: #fff;
}

.true .code-title-section {
    background: var(--style-tri);
}

.code-title {
    margin: 0px;
}

.copied {
    transition: .3s;
    z-index: 5;
}

.copied-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.701);
    color: #fff;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    font-size: 30px;
    text-transform: uppercase;
    box-shadow:lightgreen 0px 0px 100px inset;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    opacity: 0;
    z-index: 10;
    transition: .3s;
}

.copied .copied-overlay {
    opacity: 1;
}

/* form */

.add-snippet-container {
    background: #ededed;
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
}

#add-snippet {
    max-width: 550px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

input, textarea {
    border-radius: 10px;
    border: 0px;
    background: #bebebe;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

textarea {
    min-height: 200px;
}

::placeholder {
    color: #000;
    text-transform: capitalize;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

button[type="submit"] {
    background: var(--style-main);
    color: #fff;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    padding: 10px;
}

label {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

button[type="submit"]:hover {
    background: var(--style-tri);
}

/* buttons */



.btns-container {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    transition: .5s;
    z-index: 5;
    pointer-events: none;
}

.btns-container button {
    width: fit-content;
    font-size: 30px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    transform: translatey(70px);
    color: #fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: all;
}

.code-box:hover .btns-container button {
    transform: translatey(0%);
}

.delete-btn {
    background: red;
}

.fav-btn {
    background: gray;
}

.true .fav-btn {
    background: var(--style-tri);
}