*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Poppins";
    color: #fff;
  }

:root {
    --style-main: #808080;
    --style-sec: #4c9a2a;
    --style-tri: #55a055;
    accent-color: #64ca64;

    --main-gray: #434343;
    --black: #000;
}

body {
    background: var(--black);
}

.halftone {
    position: absolute;
    inset: 0;
    background: radial-gradient(2px at center, #7ad87a, black);
    background-size: 20px 20px;
    background-image: linear-gradient(rgb(0 0 0 / 30%) .1em, transparent .1em), linear-gradient(90deg, rgb(0 0 0 / 30%) .1em, transparent .1em);
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: -1;
}

.halftone::after {
    background: linear-gradient(0deg, rgb(0 0 0) 30%, rgb(48 48 48) 100%);
    content: "";
    display: block;
    z-index: 50;
    height: 100%;
    width: 100%;
    mix-blend-mode:darken;
}

.wrap {
    max-width: 1200px;
    margin-inline: auto;
    padding-bottom: 600px;
}

  .intro-text {
    text-align: center;
    padding: 20px 0px;
  }

.intro-text h1, .intro-text p {
    margin:0px;
}

.code-boxes {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.code-box {
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .5s;
    background: var(--main-gray);
    animation: popIn .3s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.code-box:hover {
    box-shadow: #ffffff33 0px 0px 40px 0px!important;
    filter: brightness(110%);
}

@keyframes popIn {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.code-snippet-container {
    padding: 15px;
    position: relative;
}

.code-snippet-container::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, var(--main-gray) 0%, rgb(255 255 255 / 0%) 50%);
    pointer-events: none;
}

.code-snippet {
    width: 200px;
    text-wrap:wrap;
    aspect-ratio: 1 / 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0px;
    font-size: 12px;
}

.code-title-section {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    display: block;
    width: 100%;
    background: var(--style-main);
    padding: 10px;
    color: #fff;
    width: 230px;
    display: flex;
    justify-content: flex-start;
    text-wrap: nowrap;
    height: 50px;
}

.true .code-title-section {
    background: var(--style-tri);
}

.code-title {
    margin: 0px;
}

.code-box.copied {
    box-shadow: #7ad87a 0px 7px 29px 0px!important;
    transition: .3s;
    z-index: 5;
}

.copied-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    font-size: 30px;
    text-transform: uppercase;
    box-shadow:lightgreen 0px 0px 100px inset;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    opacity: 0;
    z-index: 10;
    transition: .3s;
}

.copied .copied-overlay {
    opacity: 1;
}

/* form */

.add-title {
    margin: 0px;
    background: var(--style-tri);
    text-align: center;
    padding: 10px;
}

.add-snippet-container {
    background: #272727;
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
    transform: translatey(calc(100% - 56px));
    transition: .8s;
}

.add-snippet-container:hover, .add-snippet-container:focus, .add-snippet-container:focus-within, .add-snippet-container:focus-visible, .add-snippet-container:active {
    transform: translatey(0%);
}

#add-snippet {
    max-width: 550px;
    padding: 20px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

input, textarea {
    border-radius: 20px;
    border: 0px;
    background: var(--main-gray);
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

textarea {
    min-height: 200px;
    scrollbar-width: none;
}

.search-bar {
    max-width: 600px;
    margin-inline: auto;
    display: block;
    background: rgba(67, 67, 67, .5);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,.2);
    transition: .4s;
    position: sticky;
    top: 5px;
    z-index: 50;
}

.search-bar:hover {
    transition: .5s;
    box-shadow: #ffffff33 0px 0px 10px 0px!important;
}

.search-bar:active, .search-bar:focus, .search-bar:focus-within, .search-bar:focus-visible {
    box-shadow: #ffffff33 0px 0px 40px 0px!important;
    filter: brightness(110%);
    border: 1px solid rgba(255,255,255,.2)!important;
    outline: 0px;
}

::placeholder {
    color: #fff;
    text-transform: capitalize;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

button[type="submit"] {
    background: var(--style-main);
    color: #fff;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    padding: 10px;
}

label {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

button[type="submit"]:hover {
    background: var(--style-tri);
}

/* buttons */



.btns-container {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    transition: .5s;
    z-index: 5;
    pointer-events: none;
}

.btns-container button {
    width: fit-content;
    font-size: 30px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    transform: translatey(70px);
    color: #fff;
    border: 0px;
    border-radius: 100%;
    pointer-events: all;
    box-shadow: #0000003d 0px 0px 30px 0px!important;
}

.code-box:hover .btns-container button {
    transform: translatey(0%);
}

.delete-btn {
    background: red;
}

.fav-btn {
    background: gray;
}

.true .fav-btn {
    background: var(--style-tri);
}

.delete-modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    transition: .3s;
}

.delete-modal-closed {
    pointer-events: none;
    opacity: 0;
}

.delete-modal-open {
    opacity: 1;
    pointer-events: all;
}

.modal-box {
    display: flex;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 999999;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    transition: .5s;
    background: rgba(67, 67, 67, .5);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: #ffffff33 0px 0px 40px 0px!important;
}

.modal-box p {
    font-size: 16px;
}

.delete-modal-closed .modal-box {
    transform: translate(-50%, -50%) scale(0);
}

.delete-modal-open .modal-box {
    transform: translate(-50%, -50%) scale(1);
}

.delete-modal-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cancel-delete-btn-in-modal {
    background: #707070;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 10px;
}

.delete-btn-in-modal {
    background: red;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 10px;
}